<div class="col-md-3" id="leftCol">
  <ul class="nav nav-stacked" id="sidebar">
    <li><a href="#">All Projects</a></li>
    <li><a href="#">New Project</a></li>
    <li><a href="#">Active Projects</a></li>
    <li><a href="#">Funded Projects</a></li>
    <li><a href="#">Collaborators</a></li>
  </ul>
</div>
