<div class="container">

</div>


</div>

<div id="accordion">
  <% if @orders.size > 0 %>
    <% @orders.each do |order| %>
        <h3><%= order.created_at.strftime("%m-%d-%Y %I:%M %p") %>
          <%= number_to_currency order.total %>
        </h3>
        <div>
          <p>
          Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
          ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
          amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
          odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
          </p>
        </div>
    <% end %>
  <% end %>
</div>
