form {
  text-align: center;
  padding-bottom: 10%;
}

input #user_username {
  margin-bottom: 5%;
}

input #user_password {
  margin-bottom: 5%;
}

input #user_password_confirmation {
  margin-bottom: 5%;
}
