header {
  opacity: .9;
}

h1.header-title {
  color: #232D8B;
  font-family: monospace;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  font-size: 52px;
}

a.btn.btn-primary.btn-xl.page-scroll {
  border: 4px solid white;
}
