.funding-stats {
  text-align: left;
  padding-top: 30px;
  border-bottom: 1px solid rgba(0, 0, 255, .1);
}

.funding-stats h1 {
  font-size: 30px;
}

.funding-stats p {
  color: green;
}

.page-header {
  color: green;
}

.related-projects a {
  color: grey;
}

.related-projects a:hover {
  color: black;
}
