.portfolio-item {
  margin-bottom: 25px;
}

.active-projects {
  color: #46b8da;
}

.caption {
  text-align: center;
}

.funding {
  color: green;
}

.percentage-of-goal {
  color: green;
  font-size: 2.5em;
}

.all-projects-description {
  height: 100px;
  overflow: hidden;
}
