<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" href="/"><b>CodeStarter</b></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to "Companies", companies_path, class: "page-scroll" %>
          </li>
          <li>
              <%= link_to "Projects", projects_path, class: "page-scroll" %>
          </li>
          <li>
              <%= link_to "Login", login_path, class: "page-scroll" %>
          </li>
          <li>
              <a href="#" data-toggle="modal" data-target="#register-modal-small">Sign Up</a>
          </li>
          <li>
              <a class="page-scroll" href="#contact">About</a>
          </li>
          <li>
              <a class="page-scroll" href="#about">Contact</a>
          </li>
      </ul>
    </div>
  </div>
</nav>

<div id="register-modal-small" class="modal fade register-modal-sm" tabindex="-1" role="dialog" aria-labelledby="register-modal-label">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>
